@font-face {
  font-family: font;
  src: url("Intrepid.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #3f3f3f;
  background-color: #fdfdfd;  
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}
/*
  HEADER
*/
header {
  display: flex;
  gap: 5vw;
  justify-content: end;
  padding: 40px 8vw 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

header li {
  list-style: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: scale 500ms;
}
header li:hover,
header li:focus {
  scale: 1.2;
}
/*
  MAIN
*/
main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: clamp(3.2rem, 8vw + 1rem, 5rem);
  max-width: 90vw;
  font-weight: 400;
  text-align: center;
}

main p {
  font-family: font;
  font-weight: 500;
  font-size: clamp(3rem, 8vw + 1rem, 5rem);
}

.main-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
}

.skills {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

main h2 {
  font-size: 1.2rem;
  margin: 4px;
  text-align: left;
}

.skill {
  width: 80px;
  height: 80px;
  border: 1px solid lightgray;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
}

.skill:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.skill:not(:last-child){ border-right: none;}

.skill img {
  width: 60px;
  height: 60px;
  padding: 4px;
}

@media (width < 830px) {
  .skills {
    grid-template-columns: repeat(5, 1fr);
  }

  .skill:nth-child(1),
  .skill:nth-child(2),
  .skill:nth-child(3),
  .skill:nth-child(4),
  .skill:nth-child(5) {
    border-bottom: none;
  }

  .skill:first-child {
    border-bottom-left-radius:unset;
  }
  .skill:nth-child(5) {
    border-right: 1px solid lightgray;
    border-top-right-radius: 5px;
  }
  .skill:nth-child(6) {
    border-bottom-left-radius: 5px;
  }
  .skill:last-child {
    border-top-right-radius: unset;
    
  }
}

@media (width < 540px) {
  .skill {
    width: 60px;
    height: 60px;
  }

  .skill img {
    width: 45px;
    height: 45px;
    padding: 4px;
  }
}

@media (height <= 680px) {
  h1 {
    font-size: 3rem;
  }
  
  main p {
    font-size: 3.3rem;
  }

  .main-box {
    bottom: 0;
  }
}

/*
  ABOUT ME
*/
.about {
  padding-block: 16vh;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
  font-variant: small-caps;
}

.about-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  max-width: 90vw;
  margin: auto;
}


.about .me {
  width: 300px;
  height: 360px;
  background-image: url("images/backdrop.webp");
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow:
    -50px -50px 0 -40px rgb(224, 220, 220),
    50px 50px 0 -40px rgb(224, 220, 220); */
}

.about p {
  width: 60ch;
  font-size: 1.3rem;
  
}

.freepikIcons {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  gap: 1vw;
}

.freepikIcons .box {
  border: 1px solid lightgray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

/* .freepikIcons .box:nth-child(2) {border-right: none; border-left: none;} */

.freepikIcons img {
  width: 40px;
  aspect-ratio: 1/1;
}

.freepikIcons .box h3 {
  font-size: 14px;
  font-weight: 400;
}

@media (width <= 1100px) {
  .about {
    padding-block: 6vh;
  }

  .about-flexbox {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
}

@media (width <= 700px) {
  .about p {
    font-size: 1.1rem;
    width: unset;
    max-width: 30ch;
    margin: auto;
    margin-top: 30px;
  }

  .freepikIcons {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2vw;
    padding: 10px;
  }
  
  .freepikIcons .box {
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  /* .freepikIcons .box:nth-child(2) {border-right: none; border-left: none;} */
  
  .freepikIcons img {
    width: 40px;
    aspect-ratio: 1/1;
  }
  
  .freepikIcons .box h3 {
    font-size: 14px;
    font-weight: 400;
  }
}



/*
  PROJETS
*/

/* .section__projets {
  
} */
.section__projets {
  margin-bottom: 100px;
}

#projet-h2 {
  scale: 4;
  max-width: 90%;
  height: max-content;
  margin: auto;
  animation: shrink forwards;
  animation-timeline: view(10px);  
  margin-bottom: 150px;
  opacity: 0.3;
  padding-top: 10px;
}

 @keyframes shrink {
  to {
    scale: 1;
    translate: 0 60px;
    opacity: 1;
  }
}  

.projets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  row-gap: 6vh; 
  /* width: 90vw; */
  
  margin-inline: auto;
}

.projet {
  overflow: hidden;
  position: relative;
  width: 30vw;
  aspect-ratio: 3 / 2;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.projet:hover {
  animation: growNshrink 0.5s infinite alternate;
}

@keyframes growNshrink {
  to {
    scale: 1.03;
  }
}

.bar {
  background-color: #eaecee;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  padding-inline: 6px;
}

.search-bar {
  grid-area: 1/2/2/3; /*grid-area: row-start col-start row-end col-end*/
  width: 95%;
  height: 20px;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.icons {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: space-around;
}

.icon {
  --size: 25%; /*15px*/
  width: var(--size);
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid;
}

.projet-img {
  position: absolute;
  top: 30px;
  height: 91%;
  border-radius: 1px;
}

@media (width <= 1080px) {
  .projets {
    justify-content: center;
    gap: 2vw;
  }
  .projet {
    width: 45vw;
    min-width: 350px;
    aspect-ratio: 3 / 2;
  }
}

@media (width <= 714px) {
  .projets {
    gap: 30px;
  }
}

